<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Task</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
       
    
       

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
       
        <!-- Template Stylesheet -->
        <link href="stylesheets/style.css" rel="stylesheet">
    </head>

    <body>
      <div class="para">
        <p> hello world</p>
      </div>
   
</body>
</html>